.navbar {
  display: flex;
  background-color: rgb(128, 165, 159);
  width: 100%;
  z-index: 99999;
  position: sticky;
  top: 0;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.btnGroup button {
  width: 100%;
  color: white;
}

.btnGroup button:hover {
  background-color: rgb(104, 138, 158);
  color: white;
}

.logo {
  width: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

#filledSearch {
  background-color: rgba(201, 209, 209, 0.822);
}
